.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 166, 0);
}

.logo {
    font-size: 30px;
    flex: 1;
    text-align: center;
}

.button_header {
    margin-right: 20px;
    margin-left: 20px;
}

.button_header > img {
    width: 25px;
    height: 25px;
}
